@import "src/components/StyleBase";

.form {
  @include flexColumn();
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
  box-shadow: 3px 5px 15px 5px rgba(0, 0, 0, .5);
  border-radius: 10px;
}

.error {
  color: red;
}

p {
  @include flexColumn();
  margin-bottom: 15px;
  margin-top: 25px;
}

.label {
  margin-bottom: 5px;
}

.input {
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid $gray-color;
}

.submit {
  cursor: pointer;
  font-size: 25px;
  color: $white-color;
  background-color: $red-color;
  border-radius: 10px;
  padding: 5px 35px;
  border: none;
  margin-bottom: 25px;
}