*,
*:after,
*:before {
   box-sizing: border-box;
}


body {
   width: 100%;
   height: 100%;
   background: #000;
   overflow: hidden;
}

.hero {
   position: relative;
   width: 100%;
   min-height: 60vh;
   top: -25px;
   z-index: 1;
}

.star-wars {
   display: flex;
   justify-content: center;
   position: relative;
   font-family: 'Baloo Tammudu 2', sans-serif;
   font-size: 500%;
   font-weight: 600;
   letter-spacing: 6px;
   line-height: 150%;
   perspective: 400px;
   height: 800px;
   color: #feda4a;
   text-align: justify;
}

.crawl {
   position: relative;
   top: 99999px;
   transform-origin: 50% 100%;
   animation: crawl 30s linear infinite;
}



.crawl>.title {
   font-size: 90%;
   text-align: center;
   text-transform: uppercase;
}

.crawl>.title h1 {
   margin: 0 0 150px;
   text-transform: uppercase;
}

.crawl-second {
   margin-top: 50px;
}

@keyframes crawl {
   0% {
      top: -100px;
      transform: rotateX(20deg) translateZ(0) scaleX(1);
   }

   100% {
      top: -6666px;
      transform: rotateX(25deg) translateZ(-2500px) scaleX(1.5);
   }
}