@import '../../components/StyleBase';

.container{
  @include container;
}

.wrapper{
  font-family: $SecFont-style;
  margin-bottom: 25px;
}

.wrapperItems{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 35px;
  padding-bottom: 10px;
  border-bottom: 1px dotted $gray-color;
}

.item{
  display: flex;
}

.item>img{
  margin-right: 25px;
}

.infoItem{
  display: flex;
  margin-top: 15px;
}
.infoItem h3{
  margin-right: 20px;
}
.infoItem span:nth-child(1) {
margin-right: 10px;
  border: 1px solid $red-color;
  border-radius: 5px;
  width: 40px;
}
.infoItem span:nth-child(3){
  font-weight: 100;
  font-style: italic;
}

.priceItem{
  margin-top: 120px;
}

.deleteItem{
 cursor: pointer;
  background-color: $red-color;
  padding: 5px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 0;
}