.wrapper {
    margin: 0 auto;
    width: 600px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.inputField {
    margin: 40px auto;
    width: 300px;
    padding: 20px;
    background-color:bisque;
    color: brown;
    border-radius: 10px;
}

.price {
    margin-left: 5px;
    padding: 5px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 5px;
    outline: 0;
}

.exitBttn {
    background: url(../img/ex.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 135px;
    left: 57.4%;
    cursor: pointer;
}
