*,
*:after,
*:before{
    box-sizing: border-box;
}
:hover{
    transition: 0.3s ease;
}
input::-webkit-input-placeholder{
    opacity: 1;
    transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}
a {
    text-decoration: none;
    color: white;
}
body {
    font-family: 'Ubuntu',sans-serif;
    font-size: 18px;
    color: white;
}
label{
    color: black;
    font-size: 14px;
}
input:default{
    color: #BEBEBE;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.background{
    background: url(../img/back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 770px;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
}
.head-title{
    font-weight: bold;
    font-size: 22px;
    padding-left: 75px;
    text-transform: uppercase;
}
.head-title h1:hover{
    color:  #01813F;
    cursor: pointer;
}
.head-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-img span:hover{
    color:  #01813F;
    cursor: pointer;
}
.img-calendar{
    background: url("../img/header-icons/calendar-alt-regular 1.svg");
    background-position: center;
    display: inline-block;
    background-size: cover;
    width: 25px;
    height: 26px;
    margin-left: 25px;
}
.img-post{
    background: url("../img/header-icons/envelope-open-regular 1.svg");
    background-position: center;
    display: inline-block;
    background-size: cover;
    width: 25px;
    height: 26px;
    margin-left: 25px;
}
.img-compas{
    background: url("../img/header-icons/compass-regular 1.svg");
    background-position: center;
    display: inline-block;
    background-size: cover;
    width: 25px;
    height: 26px;
    margin-left: 25px;
}
.img-calendar:hover{
    background: url("../img/header-icons/hover/calendar-alt-regular 2.svg");
    background-position: center;
    display: inline-block;
    background-size: cover;
    width: 25px;
    height: 26px;
    margin-left: 25px;
    cursor: pointer;
}
.img-post:hover{
    background: url("../img/header-icons/hover/envelope-open-regular 2.svg");
    background-position: center;
    display: inline-block;
    background-size: cover;
    width: 25px;
    height: 26px;
    margin-left: 25px;
    cursor: pointer;
}
.img-compas:hover{
    background: url("../img/header-icons/hover/compass-regular 2.svg");
    background-position: center;
    display: inline-block;
    background-size: cover;
    width: 25px;
    height: 26px;
    margin-left: 25px;
    cursor: pointer;
}
.head-img p{
    position: relative;
    padding-left: 50px;
    padding-right: 75px;
}
.head-img p::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 19px;
    left: 25px;
    background: rgba(255, 255, 255, 0.9);
}
.wrapp{
    width: 470px;
    margin-top: 55px;
    background-color: white;
    position: relative;
}
.wrapp::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
}
.main-title{
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 20px;
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.main-bttn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    cursor: pointer;
}
.bttn-facebook{
    background: #305DB8;
    margin-right: 4px;
    width: 170px;
    height: 48px;
    position: relative;
}
.bttn-facebook::after{
    content: "";
    position: relative;
    width: 1px;
    height: 28px;
    right: 120px;
    background: #0A162F;
    opacity: 0.1;
}
.bttn-google{
    background: #DF4A32;
    width: 170px;
    height: 48px;
}
.bttn-google::after{
    content: "";
    position: relative;
    width: 1px;
    height: 28px;
    right: 110px;
    background: #2B0D09;
    opacity: 0.1;
}
.bttn-facebook:hover{
    background: #022263;
}
.bttn-google:hover{
    background: #AB1F09;
}
.main-bttn img{
    padding-left: 10px;
}
.main-title h1{
    font-size: 20px;
    font-weight: bold;
}
.main-title p{
    font-size: 14px;
    color: #3CB878;
    cursor: pointer;
}
.line {
    text-align: center;
    color: #848484;
    margin-top: 30px;
    position: relative;
    margin-bottom: 10px;
}
.line::after{
    content: "";
    position: absolute;
    width: 165px;
    border: 1px solid #F2F2F2;
    top: 10px;
    right: 0px;
}
.line::before{
    content: "";
    position: absolute;
    width: 165px;
    border: 1px solid #F2F2F2;
    top: 10px;
    left: 0;
}
.main-container{
    padding-left: 60px;
    padding-right: 60px;
}
.field{
    padding-left: 15px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 350px;
    height: 46px;
}
.check{
    border: 2px solid #3CB878;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.button {
    color: white;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-bottom: 40px;
    font-size: 16px;
    cursor: pointer;
}
.button:hover{
    background: #01813F;
}
.check-terms{
   color:  #3CB878;
    padding-left: 5px;
    cursor: pointer;
}
.shadow:focus{
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-weight: bold;
}
input[type=checkbox]{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-bottom: 20px;
    font-weight: bold;
}
.check+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #F2F2F2;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.check:checked+label::before {
    background-image: url("../img/Vector 1.svg");
    background-size: 14px 13px;

}
.green-line:hover {
    color: #01813F;
    text-decoration: underline;
}