*,
*:after,
*:before {
   box-sizing: border-box;
}
body {
   font-family: sans-serif;
   color: white;
}
a {
   text-decoration: none;
}
button {
   border: none;
   background: transparent;
   outline: none;
   margin: 0;
   padding: 0;
}
.slide-toggle {
    display: block;
    padding: 16px 20px;
    background-color: midnightblue;
    color: white;
    border-radius: 4px;
    text-align: center;
    margin: 20px auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
}

#button {
   display: none;
   background-color: midnightblue;
   width: 50px;
   height: 50px;
   text-align: center;
   border-radius: 4px;
   margin: 30px;
   position: fixed;
   bottom: 30px;
   right: 30px;
   transition: background-color .3s;
   z-index: 1000;

}

#button:after {
   width: 20px;
   height: 20px;
   border-top: 5px solid white;
   border-right: 5px solid white;
   margin-right: 60px;
   transform: rotate(-45deg);
   content: "";
   display: block;
   text-align: center;
   position: absolute;
   top: 40%;
   left: 32%;

}

#button:hover {
   cursor: pointer;
   background-color: darkblue;
}

.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
.header-nav {
   display: flex;
   justify-content: space-between;
   background: #313131;
   align-items: center;
}

.header-nav-log {
   display: flex;
   align-items: center;
}
.header-nav-log img {
   display: inline-block;
   padding: 22px 27px;
}
.header-logo-link {
   font-weight: bold;
   font-size: 22px;
   line-height: 30px;
   display: inline-block;
   color: white;
}
.nav-menu-list {
   display: flex;
   justify-content: center;
}

.nav-menu-link {
   display: inline-block;
   color: white;
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   text-transform: uppercase;
   margin-left: 35px;
}
.nav-menu-link:hover {
   color: #14B9D5;
}
.nav-menu-list li:first-child a {
   margin-left: 0;
}
.search-icon {
   display: inline-block;
   padding: 27px 25px;
   background: black;
   cursor: pointer;
}
.header-main {
   background: url(../img/main-foto/header-bg.jpeg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   position: relative;
   box-shadow: 0 0 0 200px rgb(0 0 0 / 33%) inset;
}
.header-main:after {
   content: '';
   position: absolute;
   background: rgba(0, 0, 0, .3);
   z-index: 2;
}
.header-main-info {
   flex-direction: column;
   align-items: center;
   position: relative;
   z-index: 5;
}
.header-main-title {
   padding-top: 160px;
   margin-bottom: 44px;
   font-weight: bold;
   font-size: 27px;
   line-height: 37px;
}
.buttn {
   display: inline-block;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   text-transform: capitalize;
   text-align: center;
   border-radius: 4px;
   color: white;
   cursor: pointer;
}
.buttn-subscribe {
   background: #89CA62;
   margin-right: 20px;
   padding: 16px 20px;
}
.buttn-articles {
   background: #14B9D5;
   padding: 16px 30px;
}
.header-main-buttn {
   margin-bottom: 71px;
   display: flex;
   justify-content: center;
}
.posts {
   background: #F2F2F2;
   padding-bottom: 72px;
}
.main-posts {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-content: space-between;
   height: 815px;
   row-gap: 30px;
}
.posts-title {
   font-style: normal;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 27px;
   line-height: 37px;
   text-align: center;
   padding: 49px 0 52px 0;
   color: #18B4CF;
}
.main-posts-item {
   width: 370px;
}
.main-posts-item>img {
   width: 100%;
}
.posts-item-title {
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   text-align: center;
   line-height: 25px;
   color: #353A3D;
   padding: 15px 20px;
   background: white;
}
.clients {
   background: url(../img/main-foto/parallax-bg.jpeg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: grid;
   justify-content: center;
   align-content: center;
}
.clients-grid {
   display: grid;
   max-width: 890px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 95px);
   row-gap: 90px;
   padding-top: 106px;
   align-content: center;
   position: relative;
}

.clients-grid h2::before {
   content: '';
   background: #18B4CF;
   height: 2px;
   width: 30px;
   display: inline-block;
   position: absolute;
   top: 237px;
   left: 50%;
   transform: translateX(-50%);
}

.clients-title {
   text-align: center;
   font-weight: bold;
   font-size: 32px;
   line-height: 44px;
   align-self: center;
   text-transform: uppercase;
   color: white;
   grid-column: 1/5;
}
.clients-list {
   display: grid;
   justify-items: center;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 95px;
   grid-column: 1/5;
   margin-bottom: 185px;
   align-items: center;
}
.top-rated {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
}
.top-rated img {
   width: 100%;
   max-width: 271px;
}
.news-post-title {
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   text-align: right;
   color: #353A3D;
}
.news-post-desc-emirate {
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   color: #5B6469;
}
.hot-news {
   display: grid;
   justify-content: space-between;
}
.hot-news-posts {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin-bottom: 70px;
   grid-template-areas:
      "emir emir emir spain"
      "egypt egypt mald mald"
      "ten ten brit brit"
      "irel spain-info spain-info spain-info";
   grid-column-gap: 50px;
   grid-row-gap: 50px;
}
.hot-news-emirate {
   grid-area: emir;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
.hot-news-spain-info {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
.emirate-desc {
   background: #F9F7F7;
   padding: 41px 14px 0 0;
   text-align: right;
   box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.tenerife-desc,
.maldives-desc,
.egypt-desc {
   background: #F9F7F7;
   padding: 14px;
   width: 554px;
   text-align: right;
   box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.spain-info-desc {
   background: #F9F7F7;
   padding: 41px 24px 0px 10px;
   text-align: right;
   box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.news-post-title {
   background: #F9F7F7;
   padding-bottom: 14px;
}
.hot-news-spain {
   width: 277px;
}
.spain-text {
   padding: 11px 0;
   text-align: center;
}
.hot-news-spain {
   grid-area: spain;
}
.hot-news-egypt {
   grid-area: egypt;
}
.hot-news-maldives {
   grid-area: mald;
}
.hot-news-tenerife {
   grid-area: ten;
}
.hot-news-britain {
   grid-area: brit;
}
.hot-news-ireland {
   grid-area: irel;
}
.ireland-text{
   text-align: center;
   padding-bottom: 23px;
}
.hot-news-spain-info {
   grid-area: spain-info;
}
.news-post-desc {
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   text-align: right;
   color: #5B6469;
}
.footer {
   background: black;
}
.footer-info {
   font-weight: normal;
   font-size: 13px;
   line-height: 13px;
   color: white;
}
.footer-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   padding: 18px 0;
}
.footer-log {
   justify-self: end;
   cursor: pointer;
}
