.root {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 6px;

  span:first-of-type {
    font-size: 18px;
    font-weight: 700;
  }

  span:last-of-type {
    font-size: 14px;
    font-weight: 500;
  }

  svg {
    transform: scale(.7);
    margin-right: 10px;
  }

  div {
    display: flex;
    align-items: center;
  }
}
.textColor{
  color: aliceblue;
  text-transform: uppercase;
  font-weight:900;
}