.image-to-show {
    display: none;
    width: 400px;
    height: 400px;
}

.image-to-show.active {
    display: block;
}
.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bttn {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px 28px;
    margin-top: 5px;
    border: 1px;
    cursor: pointer;
}
.bttn-start {
    background-color: green;
}
.bttn-start:active{
    background-color: darkgreen;
}
.bttn-stop {
    background-color: red;
}
.bttn-stop:active{
    background-color: darkred;
}