.root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 12px;
}

.items {
  display: flex;
  flex-direction: column;
}

.textColor{
  color: aliceblue;
  font-size: 30px;
}
.cart_header{
  text-align: center;
  color: aliceblue;
  font-size: 30px;
  margin-bottom: 20px;
}
.textColorPrice{
  color: aliceblue;
  font-size: 20px;
  text-align: right;
  margin-right: 670px;

}