*{
    margin: 0;
    padding: 0;

}
body{
    font-family: Montserrat;
}
ul {
    list-style: none;
    padding-left: 0;
}
li{
    display: inline-block;
    margin-right: 70px;
}
a{
    text-decoration: none;
    color: #FF0000;
}
h2{
    text-transform: uppercase;

    letter-spacing: 3.3px;
    display: inline-block;
    text-align: center;
}
p{
    padding: 0 70px 30px 70px;
    letter-spacing: 2.4px;
}
img{
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.father{
    text-align: center;

}
.father-head{
    text-transform: uppercase;
    margin: 31px 330px 25px 330px;
    display: inline-block;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
.father-head-menu{
    margin-right: 0;
}
.father-main{
    text-align: center;
    /*position: center;*/
}
.father-main-title{
    padding: 50px 250px 40px 250px;
}
.father-main-button{
    text-transform: uppercase;
    color: white;
    background-color: #FF0000;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    margin: 35px 545px 40px 545px;
    cursor: pointer;
}
.father-foot{
    font-style: normal;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 40px 165px 0  0;
}
.father-foot-text{
    flex: 0 0 auto;
    text-align: right;
}





















