*,
*:after,
*:before{
   box-sizing: border-box;
}
a {
   text-decoration: none;
   color: white;
}
body {
   font-family: sans-serif;
   font-size: 18px;
   color: white;
}
.container {
   max-width: 1030px;
   margin: 0 auto;
}
.background {
   background: url(../img/background.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.header {
   display: flex;
   justify-content: space-between;
   padding-top: 50px;
   margin-bottom: 20px;
   align-items: center;
}
.header-log {
   display: flex;
   align-items: center;
   cursor: pointer;
}
.header-info {
   text-align: right;
}
.header-info a {
   display: block;
}
.log-img {
   background: url("../img/log.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   background-size: cover;
   width: 50px;
   height: 45px;
   margin-right: 10px;
}
.header-log:hover .log-img {
   background: url("../img/log-hover.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: inline-block;
   width: 50px;
   height: 45px;
   margin-right: 10px;
   color: #F26522;
}
.log-title span:first-child {
   font-weight: bold;
   font-size: 29px;
   line-height: 29px;
   color: white;
   text-transform: uppercase;
   margin-bottom: 5px;
}
.log-title span {
   display: block;
}
.log-title span:last-child {
   font-weight: bold;
   font-size: 18px;
   color: white;
   text-transform: uppercase;
}
.log-title:hover span,
.header-info:hover a {
   color: #F26522;
}
.info-email {
   margin-bottom: 20px;
}
.gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, 300px);
   justify-content: center;
   column-gap: 60px;
   row-gap: 40px;
   margin-bottom: 50px;
}
.gallery-item {
   display: block;
   position: relative;
   overflow: hidden;
   cursor: pointer;
}
.gallery-item-img {
   width: 300px;
   height: 220px;
   border: 5px solid ;
   border-image: linear-gradient(white, black);
   border-image-slice: 1;
}
.details-from {
   font-size: 10px;
   margin-bottom: 8px;
}
.gallery-details {
   position: absolute;
   width: 100%;
   bottom: -10000px;
   left: 0;
   padding: 7px 14px 12px 16px;
   background: #F26522;
   transition: all 0.5s;
}
.gallery-item-wrapper:hover .gallery-details {
   bottom: 0;
}
.gallery-item-wrapper:hover .gallery-item-title {
   color: #F26522;
}
.details-price {
   font-weight: normal;
   font-size: 20px;
   line-height: 20px;
}
.details-view {
   font-weight: normal;
   font-size: 14px;
   line-height: 14px;
}
.details-view::after {
   content: "";
   display: inline-block;
   border: solid white;
   border-width: 0 2px 2px 0;
   padding: 4px;
   transform: rotate(-45deg);
   margin-left: 16px;
   color: #F26522;

}
.details-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.gallery-item-title {
   text-align: center;
   margin-top: 20px;
}
.footer {
   text-align: center;
   font-size: 12px;
   padding-bottom: 15px;
}