@import "src/components/StyleBase";

.container {
  @include container;

}

.cartWrapper {
  position: fixed;
  right: 0;
  z-index: 5;
}

.cartItem {
  @include flex;
  flex-direction: column;
  padding: 7px 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $red-color;
  cursor: pointer;

}

.cartItem img {
  margin-right: 8px;
}

.cartItem a {
  color: $white-color;
  border: 1px solid $white-color;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}


