@import "../StyleBase";

.container {
  @include container();
}

.mainWrapper {
  padding-top: 70px;
  padding-bottom: 70px;
}

.mainHeader {
  margin-bottom: 62px;
}

.mainLogo {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 75px;

  &:before {
    content: '';
    position: absolute;
    border-top: 1px dotted #2e2f30;
    width: 100%;
    left: 0;
    bottom: 50px;
  }
    &:after {
    content: '';
    position: absolute;
    border-top: 1px dotted #2e2f30;
    width: 100%;
    left: 0;
    top: 50px;
  }
}

.mainLogo > span {
  padding: 0 10px;
  color: $white-color;
  background-color: $red-color;
}

.mainLinks {
  display: flex;
  justify-content: space-between;
}

.linksItem {
  background-color: $gray-color;
  color: $white-color;
  padding: 19px 22px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 5px;

  &:nth-child(2) {
    background-color: $red-color;
  }
}

.linksHead {
  @include flex;
  margin-bottom: 11px;
}

.linksIcon {
  margin-right: 17px;
}

.linksName {
  text-transform: uppercase;
  font-size: 18px;
}

.linksDesc {
  font-weight: 300;
}

.mainFooter > h2 {
  text-transform: uppercase;
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 500;
}

.footerPublish {
  @include flex;
  justify-content: center;
}


