.items {
    padding: 10px;
    padding-left: 100px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 8px;
    color: brown;
    background: bisque;
    border: 3px solid rosybrown;
    border-radius: 15px;
}
