
head{
    width: 1280px;
    font-family: sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
header{

}
.head-slogan {
    display: flex;
    font-size: 80px;
    line-height: 94px;
    padding: 38px 0 38px 0;
}
.head-slogan a{
    color: aqua;
}
.head-slogan-input{
    cursor: pointer;
    color: black;
}
.head-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
    height: 72px;
    margin: auto;
    width: 1280px;
    font-size: 24px;
}
.head-menu a{
    display: inline-block;
    padding: 25px 35px 20px;
    color: white;
}
.head-menu li{
    height: 72px;
    border-left: 1px solid white;
    text-align: left;
    cursor: pointer;
}
.head-menu li:hover{
    background: black;
}
main{
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
}
.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    width: 350px;
    height: 430px;
    font-size: 27px;
    cursor: pointer;
}
.main-nav li{
    display: inline-block;
    width: 310px;
    height: 81px;
    text-align: left;
    padding: 30px 0 30px 40px;
}
.main-nav li:hover{
    background: darkgray;
    text-align: center;
    font-weight:bold;
}
.main-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 845px;
    height: 832px;
}
.main-desc-img{
    width: 845px;
    height: 529px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
}
.main-desc-img img{
    cursor: pointer;
}
.main-desc-text{
    width: 845px;
    font-size: 18px;
    line-height: 24px;
}
.main-desc-text p{
    margin-bottom: 34px;
}
.foot{
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);

}
.foot-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    width: 928px;
    height: 20px;
    padding: 20px;
    cursor: pointer;
}
.foot-menu a:hover{
    color: royalblue;
}
.foot-text{
    display: flex;
    font-size: 24px;
    align-items: center;
    margin-right: 40px;
    width: 190px;
    height: 30px;
    padding-top: 15px;
}
.scale{
    transition: 1s;
}
.scale:hover {
    transform: scale(1.2);
}