@import 'global';

.header {
  position: relative;

  &__nav {
    height: 0;
  }
}

.header__nav__drop-down {
  background-image: url("../img/drop-down.png");
  position: absolute;
  height: 37px;
  width: 43px;
  right: 15px;
  top: 23px;
  @media (min-width: 768px) {
    display: none;
  }
}

.drop-down-active {
  background-image: url("../img/drop-down-active.png");
}

.header__nav__list {
  @include font-weight-normal;
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4E4E;

  &-active {
    display: block;
    height: 208px;
    width: 182px;
    margin-right: 15px;
    background-color: #F5F5F5;
    @media (min-width: 768px) {
      background-color: #FFFFFF;
      height: 10px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 609px;
    align-items: center;
    top: 41px;
    margin: 0 auto;
  }
  @media (min-width: 1200px) {
    width: 813px;
  }

  &__item {
    padding: 4px 0 3px 15px;
    cursor: pointer;
    &:hover {
      color: #57A4A4;
    }
  }
}
